<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <button>Login</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Home',
  components: {
  }
})
</script>
